<?xml version="1.0"?>
<launch>

  <arg name="mav_name" default="f250_ariel"/>

  <node pkg="safe_odom" name="safe_odom" type="safe_odom" output="screen">
    <remap from="~vins_odom" to="/vins_fusion/imu_propagate"/>
    <remap from="~vicon_odom" to="/vicon/$(arg mav_name)/odom"/>
    <remap from="~estop" to="/$(arg mav_name)/estop"/>
  </node>

</launch>
