<launch>
  <arg name="mav_name" default="f250_ariel"/>
  <arg name="mav_id" default="1"/>
  <arg name="mav_type" default="hummingbird"/>
  <arg name="world_frame_id" default="map"/>
  <arg name="sim" default="1"/>
  <arg name="vicon" default="1"/>
  <arg name="vicon_fps" default="100"/>
  <arg name="slow_baud_rate" default="true"/>
  <arg name="mass" default="1.37"/>
  <arg name="nodelet_manager_name" default="nodelet_manager_control"/>

  <arg name="odom_topic" default="/vins_fusion/imu_propagate"/>


  <!-- size of map, change the size in x, y, z according to your application -->

  <!-- Control stuff -->
  <include file="$(find kr_mav_launch)/launch/example_control.launch">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
    <arg name="mass" value="$(arg mass)"/>
    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="mav_type" value="$(arg mav_type)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>

  </include>

  <group ns="$(arg mav_name)">

    <include file="$(find plan_manage)/launch/planner_exp.launch">
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="world_frame_id" value="$(arg world_frame_id)"/>
      <arg name="mav_id" value="$(arg mav_id)"/>
      <arg name="vins_odom" value="$(arg odom_topic)"/>
    </include>

  </group>



</launch>
